src/Website/LWT.Web.V2/App_WebReferences/THAWebservices/MotorClaimWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMotorClaim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_UWCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_Data" type="tns:ArrayOfClaimTransaction_Data" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClaimTransaction_Data">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClaimTransaction_Data" nillable="true" type="tns:ClaimTransaction_Data" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClaimTransaction_Data">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClaimStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TempPolicy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RefNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Version" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PolicyNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PolicyYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaimNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unwriter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InsuredName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpiryDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Beneficiary" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarBrand" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarModel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarLicense" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChassisNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowRoomName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowRoomCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaimNoticeDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaimNoticeTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaimDetails" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClaimType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClaimResult" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClaimDamageDetails" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallCenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentPlace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentTumbon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentAmphur" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccidentZipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DriverTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoticeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoticeTel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GarageType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GarageCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarageName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GaragePlace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarageTumbon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarageAmphur" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarageProvince" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarageZipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarRepairDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CarReceiveDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsentFormNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PartsDealerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDetails" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount2" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount3" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMotorClaimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMotorClaimResult" type="tns:ArrayOfClaimTransaction_Data_Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClaimTransaction_Data_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClaimTransaction_Data_Result" nillable="true" type="tns:ClaimTransaction_Data_Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClaimTransaction_Data_Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TRNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultStatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="tns:ArrayOfClaimResultMessage" />
          <s:element minOccurs="1" maxOccurs="1" name="SubmitDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClaimResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClaimResultMessage" nillable="true" type="tns:ClaimResultMessage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClaimResultMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResultCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMotorClaimSoapIn">
    <wsdl:part name="parameters" element="tns:SendMotorClaim" />
  </wsdl:message>
  <wsdl:message name="SendMotorClaimSoapOut">
    <wsdl:part name="parameters" element="tns:SendMotorClaimResponse" />
  </wsdl:message>
  <wsdl:portType name="MotorClaimWebServiceSoap">
    <wsdl:operation name="SendMotorClaim">
      <wsdl:input message="tns:SendMotorClaimSoapIn" />
      <wsdl:output message="tns:SendMotorClaimSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MotorClaimWebServiceSoap" type="tns:MotorClaimWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMotorClaim">
      <soap:operation soapAction="http://tempuri.org/SendMotorClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MotorClaimWebServiceSoap12" type="tns:MotorClaimWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMotorClaim">
      <soap12:operation soapAction="http://tempuri.org/SendMotorClaim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MotorClaimWebService">
    <wsdl:port name="MotorClaimWebServiceSoap" binding="tns:MotorClaimWebServiceSoap">
      <soap:address location="http://localhost:62342/MotorClaimWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MotorClaimWebServiceSoap12" binding="tns:MotorClaimWebServiceSoap12">
      <soap12:address location="http://localhost:62342/MotorClaimWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>